{% extends 'base.html.twig' %}

{% block title %}Edit ContactForm{% endblock %}

{% block body %}
    <h1>Edit ContactForm</h1>

    {{ include('contact_form/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contact_form_index') }}">back to list</a>

    {{ include('contact_form/_delete_form.html.twig') }}
{% endblock %}
