// customize some Bootstrap variables
$primary: #8FA880;
$secondary: #FA9A50;
$tertiary: #BC7642;
$quaternary: #000000;
$quinary: #ffffff;

$fontPrimary: 'Anton', sans-serif;
$fontSecondary: 'Roboto', sans-serif;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
